h3{
    margin-left: 10px;
    margin-right: 10px;
}
#calculadora{
    text-align: center;
}
#cal{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

color:brown;
}
#tt{
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Lugrasimo', cursive;
    
}
#text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
